.react-datagrid

    .z-column-content
        overflow visible

    &.z-cell-ellipsis
        .z-row .z-cell .z-content
            text-overflow ellipsis
            white-space nowrap
            overflow hidden

    .z-row
        border-bottom 1px solid #f2f2f2

        &.z-over
        &.z-over.z-odd
            background $datagrid-row-over-background
        &.z-selected
        &.z-selected.z-odd
            background $datagrid-row-selected-background
        .z-cell
            datagrid-cell()

    .z-group-row
        background $datagrid-group-row-background
        position relative
        &:before
            content '+'
            font-size 20px
            position absolute
            left 13px
            top calc(50% - 13px)

        &.open
            &:before
                content '–'


        &.z-over
        &.z-over.z-odd
            background $datagrid-group-row-over-background

    .z-group-cell
        flex 1

        .z-content
            padding-left 35px !important
